In [2]:
import pandas as pd 
data = pd.read_csv("Automobile_data.csv")
data.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

# Working with Text Data
## Class - String (str)

Functions used excludes the NaN values 
1. `str.lower()` - Lower case
2. `str.upper()` - Upper case
3. `str.len()`   - Return length
4. `str.strip()` - Remove Spaces from front and back
5. `str.split('')` - Split across mentioned pattern
6. `str.cat(sep='')` - Concatenate the series/index elements with given separator
7. `str.get_dummies()` - Return DataFrame with one hot encoded vales
8. `str.contains(_pattern_)` - Return boolean true is substring contains pattern
9. `str.replace(_a_,_b_)` - Replaces a with b
10. `str.repeat(_value_)` - Repeates value with given number no. of time
11. `str.count(_pattern_)` - Return count of pattern in each element
12. `str.startswith(_pattern_)` - Return boolean
13. `str.endswith(_pattern_)` - Return boolean
14. `str.find(pattern)` - Return first position of pattern in each element
15. `str.findall(pattern)` - Return List of positions of pattern in each element
16. `str.swapcase` - Swaps cases
17. `str.islower()` -  Return boolean
18. `str.isupper()` -  Return boolean
19. `str.isnumeric()` -  Return boolean

In [4]:
data["company"].str.lower()

0     alfa-romero
1     alfa-romero
2     alfa-romero
3            audi
4            audi
         ...
56     volkswagen
57     volkswagen
58     volkswagen
59          volvo
60          volvo
Name: company, Length: 61, dtype: object

In [5]:
data["company"].str.upper()

0     ALFA-ROMERO
1     ALFA-ROMERO
2     ALFA-ROMERO
3            AUDI
4            AUDI
         ...
56     VOLKSWAGEN
57     VOLKSWAGEN
58     VOLKSWAGEN
59          VOLVO
60          VOLVO
Name: company, Length: 61, dtype: object

In [6]:
data["company"].str.len()

0     11
1     11
2     11
3      4
4      4
      ..
56    10
57    10
58    10
59     5
60     5
Name: company, Length: 61, dtype: int64

In [7]:
data["company"].str.strip()

0     alfa-romero
1     alfa-romero
2     alfa-romero
3            audi
4            audi
         ...
56     volkswagen
57     volkswagen
58     volkswagen
59          volvo
60          volvo
Name: company, Length: 61, dtype: object

In [8]:
data["company"].str.split('-')

0     [alfa, romero]
1     [alfa, romero]
2     [alfa, romero]
3             [audi]
4             [audi]
           ...
56      [volkswagen]
57      [volkswagen]
58      [volkswagen]
59           [volvo]
60           [volvo]
Name: company, Length: 61, dtype: object

In [11]:
data["company"].str.cat(sep='**')

'alfa-romero**alfa-romero**alfa-romero**audi**audi**audi**audi**bmw**bmw**bmw**bmw**bmw**bmw**chevrolet**chevrolet**chevrolet**dodge**dodge**honda**honda**honda**isuzu**isuzu**isuzu**jaguar**jaguar**jaguar**mazda**mazda**mazda**mazda**mazda**mercedes-benz**mercedes-benz**mercedes-benz**mercedes-benz**mitsubishi**mitsubishi**mitsubishi**mitsubishi**nissan**nissan**nissan**nissan**nissan**porsche**porsche**porsche**toyota**toyota**toyota**toyota**toyota**toyota**toyota**volkswagen**volkswagen**volkswagen**volkswagen**volvo**volvo'

In [12]:
data["company"].str.get_dummies()

,alfa-romero,audi,bmw,chevrolet,dodge,honda,isuzu,jaguar,mazda,mercedes-benz,mitsubishi,nissan,porsche,toyota,volkswagen,volvo
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
57,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
58,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
59,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
60,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [14]:
data["company"].str.contains('u')

0     False
1     False
2     False
3      True
4      True
      ...
56    False
57    False
58    False
59    False
60    False
Name: company, Length: 61, dtype: bool

In [15]:
data["company"].str.replace('-','*')

0     alfa*romero
1     alfa*romero
2     alfa*romero
3            audi
4            audi
         ...
56     volkswagen
57     volkswagen
58     volkswagen
59          volvo
60          volvo
Name: company, Length: 61, dtype: object

In [16]:
data["company"].str.repeat(3)

0     alfa-romeroalfa-romeroalfa-romero
1     alfa-romeroalfa-romeroalfa-romero
2     alfa-romeroalfa-romeroalfa-romero
3                          audiaudiaudi
4                          audiaudiaudi
                    ...
56       volkswagenvolkswagenvolkswagen
57       volkswagenvolkswagenvolkswagen
58       volkswagenvolkswagenvolkswagen
59                      volvovolvovolvo
60                      volvovolvovolvo
Name: company, Length: 61, dtype: object

In [18]:
data["company"].str.count('m')

0     1
1     1
2     1
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Name: company, Length: 61, dtype: int64

In [19]:
data["company"].str.startswith('a')

0      True
1      True
2      True
3      True
4      True
      ...
56    False
57    False
58    False
59    False
60    False
Name: company, Length: 61, dtype: bool

In [20]:
data["company"].str.endswith('i')

0     False
1     False
2     False
3      True
4      True
      ...
56    False
57    False
58    False
59    False
60    False
Name: company, Length: 61, dtype: bool

In [21]:
data["company"].str.find('-')

0     4
1     4
2     4
3    -1
4    -1
     ..
56   -1
57   -1
58   -1
59   -1
60   -1
Name: company, Length: 61, dtype: int64

In [22]:
data["company"].str.findall('a')

0     [a, a]
1     [a, a]
2     [a, a]
3        [a]
4        [a]
       ...
56       [a]
57       [a]
58       [a]
59        []
60        []
Name: company, Length: 61, dtype: object

In [23]:
data["company"].str.swapcase()

0     ALFA-ROMERO
1     ALFA-ROMERO
2     ALFA-ROMERO
3            AUDI
4            AUDI
         ...
56     VOLKSWAGEN
57     VOLKSWAGEN
58     VOLKSWAGEN
59          VOLVO
60          VOLVO
Name: company, Length: 61, dtype: object

In [24]:
data["company"].str.islower()

0     True
1     True
2     True
3     True
4     True
      ...
56    True
57    True
58    True
59    True
60    True
Name: company, Length: 61, dtype: bool

In [25]:
data["company"].str.isupper()

0     False
1     False
2     False
3     False
4     False
      ...
56    False
57    False
58    False
59    False
60    False
Name: company, Length: 61, dtype: bool

In [26]:
data["company"].str.isnumeric()

0     False
1     False
2     False
3     False
4     False
      ...
56    False
57    False
58    False
59    False
60    False
Name: company, Length: 61, dtype: bool