## List Methods

In [1]:
li = [1,2,3]

In [2]:
li.append(4)
li

[1, 2, 3, 4]

In [3]:
li_copied = li.copy()
li_copied

[1, 2, 3, 4]

In [4]:
count = li.count(1)
count

1

In [5]:
li.insert(1, 10)
li

[1, 10, 2, 3, 4]

In [6]:
li.reverse()
li

[4, 3, 2, 10, 1]

In [7]:
# remove first occurance
li.remove(10)
li

[4, 3, 2, 1]

In [8]:
li.sort()
li

[1, 2, 3, 4]

In [9]:
li.pop()
li

[1, 2, 3]

In [10]:
li_extend = [10,20,30]
li.extend(li_extend)
li

[1, 2, 3, 10, 20, 30]

In [11]:
li.index(10)

3

In [12]:
li.clear()
li

[]

## Set Methods

1. Set items are unordered, unchangeable, and do not allow duplicate values
2. we cannot change the items after the set has been created.

In [1]:
set1 = {"apple",1,2,3,4,5}
set1

{1, 2, 3, 4, 5, 'apple'}

In [2]:
set2 = {"Mango",3,4,5,6,7,8,9,10}
set2

{10, 3, 4, 5, 6, 7, 8, 9, 'Mango'}

In [3]:
# pop out first item
poped = set1.pop()
poped

1

In [4]:
set1.discard("apple")
set1

{2, 3, 4, 5}

In [17]:
set1.add("apple")
set1.add(1)
set1

{1, 2, 3, 4, 5, 'apple'}

In [18]:
union = set1.union(set2)
union

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'Mango', 'apple'}

In [19]:
intersection = set1.intersection(set2)
intersection

{3, 4, 5}

In [20]:
difference1 = set1.difference(set2)
difference1

{1, 2, 'apple'}

In [21]:
difference2 = set2.difference(set1)
difference2

{10, 6, 7, 8, 9, 'Mango'}

In [22]:
# returns False if both sets have somthing common in them otherwise True 
isdisjoint = set1.isdisjoint(set2)
isdisjoint

False

In [23]:
a = {1,2,3,4,5}
b = {4,5}

a.issuperset(b)

True

In [24]:
b.issubset(a)

True

In [25]:
b.issuperset(a)

False

In [26]:
a.issubset(b)

False

In [27]:
set1.clear()
set1

set()

In [5]:
a = [1,2,3,4,4,2,4,5,1,3,5,2,4,5,52]
s = set(a)

s = list(s)
s

[1, 2, 3, 4, 5, 52]

## Dictionary

In [28]:
dic = {"apple":4, "mango":2, "banana":5}

In [29]:
dic.keys()

dict_keys(['apple', 'mango', 'banana'])

In [30]:
dic.values()

dict_values([4, 2, 5])

In [31]:
dic.items()

dict_items([('apple', 4), ('mango', 2), ('banana', 5)])

In [5]:
x = ["apple","mango", "chikoo"]
y = [0,1,1]

dic2 = dict.fromkeys(x,y)
dic2

{'apple': [0, 1, 1], 'mango': [0, 1, 1], 'chikoo': [0, 1, 1]}

In [33]:
# return value of specified key and pop item
dic.pop("apple")

4

In [34]:
dic

{'mango': 2, 'banana': 5}

In [35]:
# pop item from last
dic.popitem()

('banana', 5)

In [36]:
# get value by key
item = dic.get("mango")
item

2

In [37]:
newdic = dic.copy()
newdic

{'mango': 2}

In [38]:
dic.clear()
dic

{}

## Frequency of Dictionary Items

In [39]:
li = ['a','b','c','d','e','b','c','d','e','c','d','e','d','e','e']
dic = {}

for i in li:
    if i not in dic:
        dic[i] = 1
    else:
        dic[i] = dic[i]+1
        
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

## Sorting of Dictionary

In [8]:
dic = {"banana":8, "mango":4, "apple":3, "cherry":6, "grapes":5}

sorted_values = dict(sorted(dic.items(), key=lambda x:x[1], reverse = True))
sorted_values

{'banana': 8, 'cherry': 6, 'grapes': 5, 'mango': 4, 'apple': 3}

In [41]:
sorted_keys = dict(sorted(dic.items(), key=lambda x:x[0]))
sorted_keys

{'apple': 3, 'banana': 8, 'cherry': 6, 'grapes': 5, 'mango': 4}

## Lambda Functions with Map()

In [42]:
li = [1,2,3,4,5,6,7,8,9]

a = (lambda x: x%2==0)

list(map(a, li))

[False, True, False, True, False, True, False, True, False]

In [43]:
a = (lambda x: x**2 if x>5 else 0)

list(map(a, li))

[0, 0, 0, 0, 0, 36, 49, 64, 81]

In [44]:
a = (lambda x: x**5 )

list(map(a, li))

[1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]

## Lambda Functions with Filter()

In [45]:
li = [1,2,3,4,5,6,7,8,9]

a = (lambda x:x>5)

list(filter(a, li))

[6, 7, 8, 9]

In [46]:
a = (lambda x:x%2==0)

list(filter(a, li))

[2, 4, 6, 8]

## Lambda Functions with OOP

In [47]:
class Student:
    def __init__(self, id, name, sirname):
        self.id = id
        self.name = name
        self.sirname = sirname
        
a = Student(3, "Shubham", "Sawant")
b = Student(2, "Kiran", "Shinde")
c = Student(1, "Rohan", "Gaikwad")

li = [a,b,c]

In [48]:
li.sort(key = lambda x:x.id , reverse = False)

for i in li:
    print(i.id, i.name, i.sirname, end=" \n")

1 Rohan Gaikwad
2 Kiran Shinde
3 Shubham Sawant

In [49]:
li.sort(key = lambda x:x.name , reverse = False)

for i in li:
    print(i.id, i.name, i.sirname, end=" \n")

2 Kiran Shinde
1 Rohan Gaikwad
3 Shubham Sawant

In [50]:
li.sort(key = lambda x:x.sirname, reverse = False)

for i in li:
    print(i.id, i.name, i.sirname, end=" \n")

1 Rohan Gaikwad
3 Shubham Sawant
2 Kiran Shinde

## List Comprehension

In [51]:
# Transformation of items in list with loop

li = [i**3 for i in range(1,15) if i%2==0]
li

[8, 64, 216, 512, 1000, 1728, 2744]

In [52]:
# Takeout duplicate from list

li = [3,4,5,6,4,1,1,1,3,5,6,7,2,3,4,5,6,2]

li = list(set(li))
li

[1, 2, 3, 4, 5, 6, 7]

In [53]:
a,b,c = input("Enter three input").split()

print(a,b,c, end=" \n")

Enter three input10 20 30
10 20 30

In [54]:
score = 80
wickets = 5
catch = 2

list_conditions = [score>50, wickets<4, catch==2]

if all(list_conditions):
    print("All the conditions satisfied")
elif any(list_conditions):
    print("Some of the conditions satisfied")
else:
    print("No conditions satisfied")

Some of the conditions satisfied

In [55]:
print("Odd Number " if int(input())%2!=0 else "Even Number")

56
Even Number

### Fibonacci Series

In [56]:
fib = lambda n: n if n<=1 else fib(n-1) + fib(n-2)

print(fib(7))

13

In [57]:
[fib(i) for i in range(1,20)]

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

### Palindromes

In [58]:
num = "123456789"
num = num[1::2]
num

'2468'

In [59]:
string = "aba"
string == string[::-1]

True

In [60]:
number = 12344321
number = str(number)
number == number[::-1]

True

In [61]:
string = "abac"
string == string[::-1]

False

In [62]:
number = 12234344321
number = str(number)
number == number[::-1]

False

### Factorial Number

In [63]:
fact = lambda n: [1,0] [n>1] or fact(n-1)*n

fact(4)

24

In [64]:
test = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4,4,4]
print(max(set(test)))

4

In [68]:
dic={"a":(1,2), "b":(3,4)}

for i in dic.keys():
    print(dic[i][0])

1
2
3
4

In [1]:
/* hi*/

SyntaxError: invalid syntax (Temp/ipykernel_17844/1903290628.py, line 1)

In [2]:
print('{1}{2}'.format(1,2))

IndexError: Replacement index 2 out of range for positional args tuple